<header>

<div class ="contaner">
  <nav>
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a href="#" routerLink="/list">Breweries</a></li>
      <li style="float:right"><a href="#about">Login</a></li>
    </ul>
  </nav>
</div>
</header>

<div class="container-fluid">
  <nav>
    <a routerLink="items" class="btn btn-primary active" role="button" routerLinkActive="active">Item</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
  <router-outlet></router-outlet>
</div>
