<div *ngIf="item" class="item">
    <div>
      <label>Item's name: </label> {{item.name}}
    </div>
    <div>
      <label>Price: $</label>{{item.price}}
    </div>
    <div>
      <label>Available: </label>{{item.available}}
    </div>
   
    <button (click)="addToCart(item)">Buy</button>

    <span class="btn btn-secondary" *ngIf='item.available' (click)='updateAvailable(false)'>Inactive</span>
  
    <span class="btn btn-success" *ngIf='!item.available' (click)='updateAvailable(true)'>Active</span>
   
    <span class="btn btn-danger" (click)='deleteItem()'>Delete</span>
   
    <hr />
  </div>